/* Estilos para el contenedor principal */
.background-color {
  background-color: #f2f2f2;
  padding: 20px;
}

.container {
  width: 100%;
  max-width: 1200px;
  background-color: #ffffff;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para el formulario */
.form {
  display: grid;
  grid-template-columns: 1fr; /* Cambiar a una columna para dispositivos pequeños */
  grid-gap: 20px;
}

.form-column {
  grid-column: span 1;
}

/* Estilos para los elementos del formulario */
label {
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="time"],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

/* Efecto hover para los elementos de entrada y selección */
input[type="text"]:hover,
input[type="email"]:hover,
input[type="password"]:hover,
input[type="date"]:hover,
input[type="time"]:hover,
select:hover {
  border-color: #3498db;
}

/* Estilos para los botones */
button {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #287bbc;
}

/* Estilos para la lista de contratos */
.contracts-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.contracts-table th,
.contracts-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

/* Estilos para las filas pares de la tabla */
.contracts-table th {
  background-color: #f2f2f2;
}

.contracts-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Efecto hover para las filas de la tabla */
.contracts-table tbody tr:hover {
  background-color: #e5e5e5;
}

/* Estilos para los botones dentro de la tabla */
.contracts-table td button {
  margin-right: 5px;
}

/* Media query para dispositivos pequeños */
@media screen and (max-width: 768px) {
  .form {
    grid-template-columns: 1fr; /* Cambiar a una columna */
  }
}
